{% extends 'base.html.twig' %}

{% block title %}Nouvelle candidature{% endblock %}

{% block body %}
<h1>Candidature pour la mission : {{ mission.titre }}</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Envoyer</button>
{{ form_end(form) }}

<a href="{{ path('app_mission_index') }}" class="btn btn-primary">Retour aux missions</a>
{% endblock %}
